@font-face {
    font-family: 'ArcoPerpetuoBold';
        src: url('/assets/fonts/arco-perpetuo/1f7f02c016e51ddde62a0d8bb3df4af9/d9b0aeb0243b132fa7cf0c9fcdd0ec3f/ArcoPerpetuoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'ArcoPerpetuoLight';
        src: url('/assets/fonts/arco-perpetuo/638538746a43b2780038a5da52b3ce7c/435cd23fab07c5205aa2331528df4b77/ArcoPerpetuoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'ArcoPerpetuoRegular';
        src: url('/assets/fonts/arco-perpetuo/6f58dfea86e591b535e4a11d13364ea1/d51763ab2839ed0276d88bc5746230ae/ArcoPerpetuoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Arco Perpetuo';
        src: url('/assets/fonts/arco-perpetuo/1f7f02c016e51ddde62a0d8bb3df4af9/d9b0aeb0243b132fa7cf0c9fcdd0ec3f/ArcoPerpetuoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Arco Perpetuo';
        src: url('/assets/fonts/arco-perpetuo/638538746a43b2780038a5da52b3ce7c/435cd23fab07c5205aa2331528df4b77/ArcoPerpetuoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Arco Perpetuo';
        src: url('/assets/fonts/arco-perpetuo/6f58dfea86e591b535e4a11d13364ea1/d51763ab2839ed0276d88bc5746230ae/ArcoPerpetuoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

